<form action="/todos" method="POST">
  <input type="text" name="todos[task]" placeholder="what do you need to get done?">
  <input type="text" name="todos[description]" placeholder="tell us a bit about it">
  <input type="submit" value="ADD">
</form>
