<form action="todos" method="POST">
  <input type="text" name="todo[task]" placeholder="what do you need to get done?">
  <input type="textarea" name="todo[description]" placeholder="tell us a bit about it">
  <input type="submit" value="ADD">
</form>
